.App {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}

body {
  margin: 0;
  padding: 0;
}

theme_project {
  color: #556cd6 ;
  color: #19857b;
  color: #fff
}